<!DOCTYPE html>
<html>
<head>
  <title>sprockets-coffee-react</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <script src="http://fb.me/react-0.10.0.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
